/* Countdown Timer Animation */
@keyframes countdownAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .countdown {
    line-height: 1;
    animation: countdownAnimation 1s infinite;
    position: relative;
  }
  
  /* Rocket Launch Animation */
  @keyframes rocketLaunchAnimation {
    0% { transform: translateY(0); }
    100% { transform: translateY(-80vh); opacity: 0; }
  }
  
  .rocket {
    max-width: 200px;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    bottom: 100px;
    left: 42.5%;
    transform: translate(-50%, 0%);
    rotate: -90deg;
  }
  
  .rocket-div {
    animation: rocketLaunchAnimation 3s forwards;
  }
  
  .fade-out {
    opacity: 0;
  }


  